# Binarios compilados
*.exe
*.o
*.obj
bin/

# Archivos de datos pesados (>1 GB)
*.bin
data/*.bin
*.h5

# Salidas de imagen generadas
*.bmp

# Salidas de visualizacion temporal
vista_matriz.txt

# Python cache
__pycache__/
*.pyc

# IDE
.vscode/
